@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

html {
  font-family: 'Space Grotesk', sans-serif;
  height: 100%;
}

body{
  display: flex;
  margin: 0;
  height: 100%;
}
nav{
  padding: 0px;
  height: 100%;
  text-align: center;
  position: fixed;
  border-style: none solid;
  justify-content: center;
  background-color: black;
} 


#nav-items{
  list-style-type: none;
  margin-top: 30px;
  padding: 0;
}

#nav-items > li{
  border-style:solid none none none;
 
}

.nav-link{
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.nav-link:hover{
  background-color:green;
  color: orange;
}

main{
  margin-left: 320px;
  padding: 20px;
}
@media (max-width: 800px){
  body{
    flex-direction: column;
  }
  nav{
    border-style: solid none;
    position: relative;
  }
  nav > ul{ 
    height:200px;
    overflow:hidden; 
    overflow-y:scroll;
  }
  main{
    margin:0;
  }
}
header{
  font-weight: bold;
  font-size: 1.5rem;
  color:white;
}

.title{
    font-weight: bold;
    font-size: 1.5rem;
    color:black;

}



code{
  display: block;
  text-align: left;
  white-space: pre;
  background-color: #E6E6E6;
  color: green;
  border-radius: 5px;
  margin-left: 15px;
  font-size: 1.15rem;
}

#funcion-1{
  display: block;
  text-align: left;
  white-space: pre;
  color:black;
  border-radius: 5px;
  margin-left: 15px;
  font-size: 1.15rem;
}